<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>New User</h1>
    <div class="col-md-auto">
        <form th:object="${user}" th:action="@{save}" action="#" method="post">
            <div>
                <label th:text="Id" th:for="id"></label>
                <input type="text" th:field="*{id}" class="form-control" placeholder="Id"/>
            </div>
            
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="Name" th:for="name"></label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Name"/>
                 <div style="clear: both; display: block; height: 10px"></div>
            </div>
            <input type="submit" class="btn btn-success" value="Save"/>
        </form>
    </div>
</div>
</body>
</html>