<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
<meta charset="UTF-8">
<title>Edit User</title>
<link type="text/css" rel="stylesheet" href="bootstrap.min.css"
	th:href="@{bootstrap.min.css}" />
</head>
<body>
<h1><a href="/"> Manage User</a></h1>
	<div class="card">
		<form th:object="${user}" enctype="multipart/form-data">
			<div class="form-group">
				<img th:alt="${image} ?: 'NO_IMAGE'"
					th:src="'data:image/png;base64,'+${image}" />
			</div>

			<div style="clear: both; display: block; height: 10px"></div>

			<input type="hidden" th:field="*{id}">

			<h1>
				<span th:text="*{name}"></span>
			</h1>





			<p>
				<span th:text="*{birthday}"></span>
			</p>
			<p>
				<span th:text="*{email}"></span>
			</p>
			<p>
				<span th:text="*{phone}"></span>
			</p>
			<p>
				<span th:text="*{description}"></span>
			</p>


		</form>
	</div>
</body>
</html>